/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.tile {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#luigi {
  display: none;
}

.hidden{
  display:none;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
